@charset "EUC-KR";
#wrap{
    widows: 100%;
    height: 100%;
}

 /* container */
#container{
}
#container .tools{
	
}
#container .title{
    width:400px;
    height:250px;
    margin:30px auto 20px;
    position: relative;
}
#container .title h1.logo{
	width:400px;
	position:absolute;
	top:0;
	left:0;
	text-align: center;
	line-height: 250px;
	font-size:30px;
}
#container .shortcut{
    width:410px;
    height:auto;
    margin:50px auto 0;
    overflow: hidden;
}
#container .shortcut ul{
    position: relative;
    float: right;
    left: -50%;
}
#container .shortcut ul li{
    width:78px;
    height:88px;
    float: left;
    position:relative;
    left: 50%;
    margin:0 1px;
	border:1px solid;
}
#container .shortcut ul li a{
	word-break:keep-all;
	text-align: center;
	display: flex;
}

 /* footer */
#footer{
    
}

/* event */

#container .search input:focus{
    outline: none;
}
#container .search input:hover{
    background:#ccc8;
}