@charset "EUC-KR";
.skills{
	width: 100%;
	height: auto;
	
}
.skills h1{
	height: 70px;
	text-align: center;
	font-size: 32px;
}
.skills ul{
	width:800px;
	margin:0 auto;
	overflow: hidden;
}
.skills ul li{
	width: 25%;
	height:auto;
	float: left;
	text-align: center;	
}
.skills ul li>span{
	font-size: 20px;
}
.skills ul li .skill{
	
}
.skills ul li .skill span{
	display: block;
}