@charset "UTF-8";
.write{
	width:500px;
	height: auto;
	margin:0 auto;
	
}

.write ul li{
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	margin-top:10px; 
	width:100%;
	height: auto;
	text-indent: 5px;
	border: 0; 
}
.write ul li.title{
	height: 40px;
	font-weight: bolder;
	font-size: 36px;
	text-align: center;
	margin:10px auto;
	padding:20px 0;
}
.write ul li span{
	width :70px;
	display: inline-block;
	font-size: 15px;
}	
.write ul li textarea{
	margin: 10px auto;	
	width:99%;
	height: 300px;
}
.write ul li input{
	
}
.write ul li input[type=button]{
	float : right;
	margin-left : 10px;
}
.write ul li input[disabled=disabled]{
	border: none;
    background: #fff;
}
