<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

	<typeAliases>
		<typeAlias type="org.spring.dto.MemberDTO" alias="memberDTO" />
		<typeAlias type="org.spring.dto.FileDTO" alias="fileDTO" />
		<typeAlias type="org.spring.dto.BordDTO" alias="bordDTO"/>
		<typeAlias type="org.spring.dto.PageDTO" alias="pageDTO"/>
		<typeAlias type="org.spring.dto.BookDTO" alias="bookDTO"/>
		<typeAlias type="org.spring.dto.BookRecordDTO" alias="bookRecordDTO"/>
	</typeAliases>

</configuration>
